@use "./variables";

@function rem($pxValue) {
  @return ($pxValue / variables.$baseFontSize) * 1rem;
}

@function rclamp($min, $max, $minViewport, $maxViewport) {
  $vwScale: ($max - $min) / ($maxViewport - $minViewport); // vw単位でのスケールを計算
  $baseOffset: $min - $minViewport * $vwScale; // 基準となる最小値からのオフセットを計算

  $minRem: $min / 16; // 最小値をremに変換
  $maxRem: $max / 16; // 最大値をremに変換
  $baseOffsetRem: $baseOffset / 16; // オフセットをremに変換
  $vwScaleRem: $vwScale * 100; // vwスケールを調整

  @return clamp(
    #{$minRem}rem,
    #{$baseOffsetRem}rem + #{$vwScaleRem}vw,
    #{$maxRem}rem
  );
}