//  fonts
$font-family-base: ;


// text-color
$text-color-main: ;
$text-color-sub: ;

// color
$main-color: ;
$base-color-: ;
$accent-color: ;
$disabled-color: ;

// font-weight
$font-weight-: ;

// line-height
$line-height-base: ;

// breakpoint
$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1100px)",
  xxl: "screen and (min-width: 1280px)",
);
