@use "./variable" as var;
@use "./function" as fn;

// メディアクエリ
@mixin mq($breakpoint: md) {
  @media #{map-get(var.$breakpoints,$breakpoint)} {
    @content;
  }
}

// font周りのmixin
@mixin font($lh: null, $ls: null, $fw: null) {
  @if $lh {
    line-height: fn.lh($lh, $max-fz);
  }
  @if $ls {
    letter-spacing: fn.spacing($ls);
  }
  @if $fw {
    font-weight: $fw;
  }
}

// font-sizeのVW化
@mixin fz_vw($size: 16) {
  font-size: fn.get_vw($size);
}

// リンクのホバーアクションデフォルト
@mixin hover() {
  @media (hover: hover) {
    &:any-link:hover,
    &:enabled:hover {
      @content;
    }
  }
}
