@use "../global/" as *;

.c-breadcrumb {
    padding: get_vw(12) get_vw(24);
    font-size: get_vw(15);
    line-height: 1.6;

    &.margin {
        margin-block-start: get_vw(55);
    }

    a {
        transition: opacity 0.3s;
        @media (any-hover: hover) {
          &:hover {
            opacity: 0.6;
          }
        }
    }

    span {
        br {
            display: none;
        }
    }

    @include mq('md') {
        max-width: 1440px;
        margin-inline: auto;
        padding: rem(12) rem(50);
        font-size: rem(15);
        gap: rem(3);

        &.margin {
            margin-block-start: 80px;
        }
    }
}