@use "../global" as *;

.p-about-CEO-message {
  margin-top: 15px;
  position: relative;

  @include mq("md") {
    margin-top: 59px;
  }

  @include mq("xl") {
    padding-left: calc(191px / 1440px * 100vw);
    padding-right: calc(190px / 1440px * 100vw);
  }

  &::before {
    content: "";
    width: 100vw;
    height: calc(912px / 1029px * 100%);
    background-color: map-get($color, sub1);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: calc(-22px / 375px * 100vw);
    z-index: -1;

    @include mq("md") {
      width: 100%;
      left: 0;
      max-width: 1059px;
      height: calc(100% - 189px);
    }

    @include mq("xxl") {
      left: 191px;
      height: 753px;
    }
  }
}

.p-about-CEO-message__top {
  position: relative;

  @include mq("md") {
    display: flex;
    padding-right: calc(78px / 1440px * 100vw);
    gap: 9px;
  }

  @include mq("xxl") {
    padding-right: 78px;
  }

  &::before {
    content: "";
    width: 321px;
    height: 100%;
    background-color: #eae9e9;
    border-radius: 0 20px 20px 0;
    position: absolute;
    right: 34px;
    z-index: -1;

    @include mq("md") {
      width: calc(1183px / 1440px * 100vw);
      right: calc(50% - 463px);
    }
  }
}

.p-about-CEO-message__head {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-top: 35.5px;
  padding-left: 2px;

  @include mq("md") {
    padding-top: 0;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    margin-right: -70px;
    position: relative;
    z-index: 2;
    padding-left: 24px;
  }
}

.p-about-CEO-message__head-en {
  font-family: $font-family-en;
  font-size: get_vw(40);
  font-weight: $font-weight-600;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #332C2F;

  @include mq("md") {
    font-size: rem(60);
    font-weight: $font-weight-700;
  }
}

.p-about-CEO-message__head-ja {
  font-size: get_vw(20);
  font-weight: $font-weight-500;

  @include mq("md") {
    font-size: rem(24);
    font-weight: $font-weight-700;
    margin-top: 11px;
  }
}

.p-about-CEO-message__image {
  width: calc(100% - 1px);
  padding-bottom: 19px;
  margin-top: 22px;

  @include mq("md") {
    width: calc(527px / 1440px * 100vw);
    max-width: 527px;
    padding-top: 33px;
    padding-bottom: 56px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.p-about-CEO-message__bottom {
  margin-top: 11px;
  padding-bottom: calc(62px / 375px * 100vw);

  @include mq("md") {
    margin-top: 38px;
    padding-bottom: 56px;
     padding-left: calc(142px / 1440px * 100vw);
    padding-right: calc(145px / 1440px * 100vw);
  }

  @include mq("xxl") {
    padding-left: 142px;
    padding-right: 145px;
  }
}

.p-about-CEO-message__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  @include mq("md") {
    gap: 2.3em;
  }
}

.p-about-CEO-message__text {
  font-size: get_vw(15);
  line-height: calc(26px / 15px);

  @include mq("md") {
    font-size: rem(16);
    line-height: 2;
  }
}
