@use "../global" as *;

.p-about {
  max-width: 1440px;
  margin-inline: auto;
}

.p-about__head {
  display: flex;
  flex-direction: column;
  padding-top: calc(29px / 375px * 100vw);
  padding-bottom:  calc(29px / 375px * 100vw);
  padding-left: calc(26px / 375px * 100vw);
  background-image: url(../img/about/about-head-bg-01-SP.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(280px / 375px * 100vw);

  @include mq("md") {
    background-image: url(../img/about/about-head-bg-01-PC.svg);
    flex-direction: row;
    gap: 20px;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: calc(121px / 1440px * 100vw);
    width: calc(872px / 1440px * 100vw);
    max-width: 872px;
    align-items: center;
  }

  @include mq("xxl") {
    padding-left: 121px;
  }
}

.p-about__head-en {
  font-family: $font-family-en;
  font-size: get_vw(40);
  font-weight: $font-weight-600;
  letter-spacing: calc(1.2px / 375px * 100vw);

  @include mq("md") {
    font-size: rem(60);
    font-weight: $font-weight-700;
    letter-spacing: normal;
  }
}

.p-about__head-ja {
  font-size: get_vw(20);
  font-weight: $font-weight-500;

  @include mq("md") {
    font-size: rem(24);
    font-weight: $font-weight-700;
  }
}

.p-about__breadcrumbs {
  padding-top: calc(14px / 375px * 100vw);
  padding-bottom: calc(12px / 375px * 100vw);
  padding-left: calc(24px / 375px * 100vw);
  font-size: get_vw(15);
  line-height: 1.6;

  @include mq("md") {
    padding-left: calc(50px / 1440px * 100vw);
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: rem(16);
  }

  @include mq("md") {
    padding-left: 50px;
  }
}

.p-about__inner {
  padding-left: calc(22px / 375px * 100vw);
  padding-right: calc(21px / 375px * 100vw);

  @include mq("md") {
    padding-left: 0;
    padding-right: 0;
  }
}

.p-about__content {
  margin-top: calc(20px / 375px * 100vw);

  @include mq("md") {
    margin-top: 80px;
  }
}

.p-about__blocks {
  display: flex;
  flex-direction: column;
  gap: calc(20px / 375px * 100vw);

  @include mq("md") {
    gap: 80px;
    padding-left: calc(50px / 768px * 100vw);
    padding-right: calc(50px / 768px * 100vw);
  }

  @include mq("lg") {
    padding-left: calc(110px / 1200px * 100vw);
    padding-right: calc(110px / 1200px * 100vw);
  }

  @include mq("xl") {
    padding-left: calc(220px / 1440px * 100vw);
    padding-right: calc(220px / 1440px * 100vw);
  }

  @include mq("xxl") {
    padding-left: 220px !important;
    padding-right: 220px !important;
    margin-inline: auto;
  }
}

.p-about__block {
}

.p-about__CEO-message {
}
