@use "../global" as *;

.p-blog {
}

.p-blog__title {
  margin-block-start: 0 !important;
}

.p-blog__title-wrap {

}


.p-blog__breadcrumbs {
  padding-top: calc(14px / 375px * 100vw);
  padding-bottom: calc(12px / 375px * 100vw);
  padding-left: calc(24px / 375px * 100vw);
  font-size: get_vw(15);
  line-height: 1.6;

  @include mq("md") {
    padding-left: calc(50px / 1440px * 100vw);
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: rem(16);
  }

  @include mq("md") {
    padding-left: 50px;
    max-width: 1440px;
    margin-inline: auto;
  }
}

.p-blog__breadcrumbs > span > a {
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.p-blog__inner {
  padding-left: calc(23px / 375px * 100vw);
  padding-right: calc(22px / 375px * 100vw);
  background-color: map-get($color, sub1);

  @include mq("md") {
    padding-left: calc(112px / 1440px * 100vw);
    padding-right: calc(112px / 1440px * 100vw);
  }
}

.p-blog__content {
  max-width: 1216px;
  margin-inline: auto;
}

.p-blog__list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 34px;

  @include mq("md") {
    padding-top: 78px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calc(36px / 1440px * 100vw);
    row-gap: calc(37px / 1440px * 100vw);
  }

  @include mq("xl") {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq("xxl") {
    column-gap: 36px;
    row-gap: 37px;
  }
}

.p-blog__item {
  width: 100%;
}

.p-blog__link {
  display: block;
    transition: opacity 0.3s;

@media (any-hover: hover) {
  &:hover {
    .p-blog-card__thumbnail {
      img {
        scale: 1.2;
      }
    }
  }
}

}

.p-blog__card {
}

.p-blog__pagination {
  margin-top: calc(30px / 375px * 100vw);
  padding-bottom: 40px;

  @include mq("md") {
    margin-top: 30px;
    padding-bottom: 80px;
  }
}
