@use "../global" as *;

.p-faq-box {
  background-color: map-get($map: $color, $key: main);
  border-radius: 20px;
}

.p-faq-box__head {
  background-color: map-get($map: $color, $key: base);
  display: flex;
  gap: 16px;
  width: 100%;
  padding-right: 52px;
  padding-top: 22px;
  padding-bottom: 15px;
  padding-left: 30px;
  border-radius: 20px;
  position: relative;

  &::after {
    content: "";
    width: 7px;
    height: 13.276px;
    background: url(../img/faq/faq-icon-toggle.svg) no-repeat center center /
      contain;
    position: absolute;
    top: 50%;
    right: 23px;
    translate: 0 -50%;
  }
}

.p-faq-box__head-icon {
  font-family: $font-family-en;
  font-size: 24px;
  font-weight: $font-weight-700;
  flex-shrink: 0;
}

.p-faq-box__head-text {
  font-size: 15px;
  font-weight: $font-weight-700;
  line-height: normal;
}

.p-faq-box__body {
  padding-top: 20px;
  padding-left: 32px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.p-faq-box__a {
  display: flex;
  gap: 23px;
}

.p-faq-box__a-icon {
  font-family: $font-family-en;
  font-size: 24px;
  font-weight: $font-weight-700;
  flex-shrink: 0;
}

.p-faq-box__a-text {
  font-size: 15px;
  line-height: 1.6;
}
