@use "../global" as *;

.p-single-pagination {
  display: flex;
  gap: calc(40px / 375px * 100vw);
  justify-content: center;

  @include mq("md") {
    gap: 80px;
  }
}

.p-single-pagination__prev {
  width: calc(55px / 375px * 100vw);

  @include mq("md") {
    width: 55px;
  }
}

.p-single-pagination__prev > a > span {
  font-size: get_vw(15);
  font-weight: $font-weight-700;
  line-height: normal;
  padding-left: calc(21px / 375px * 100vw);
  position: relative;

  @include mq("md") {
    padding-left: 21px;
    font-size: rem(15);
  }

  &::before {
    content: "";
    width: calc(5px / 375px * 100vw);
    height: calc(10px / 375px * 100vw);
    background: url(../img/single/single-icon-prev.svg) no-repeat center center /
      contain;
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;

    @include mq("md") {
      width: 5px;
      height: 10px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 66%;
    height: 1px;
    background-color: map-get($map: $color, $key: text);
    bottom: -2px;
    right: 0;
    scale: 0;
    transition: scale 0.1s ease;
    transform-origin: left center;
  }
}

.p-single-pagination__prev > a {
  @media (any-hover: hover) {
    &:hover {
      span {
        &::after {
          scale: 1;
          transform-origin: right center;
          transition: scale 0.5s ease;
        }
      }
    }
  }
}

.p-single-pagination__archive {
  font-size: get_vw(15);
  font-weight: $font-weight-500;
  line-height: normal;

  @include mq("md") {
    font-size: rem(15);
  }
}

.p-single-pagination__archive > a {
  transition: opacity 0.3s;
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      &::after {
        scale: 1;
        transition: scale 0.5s ease;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: map-get($map: $color, $key: text);
    bottom: -2px;
    left: 0;
    scale: 0;
    transition: scale 0.1s ease;
  }
}

.p-single-pagination__next {
  width: calc(55px / 375px * 100vw);

  @include mq("md") {
    width: 55px;
  }
}

.p-single-pagination__next > a {
  transition: opacity 0.3s;

  @media (any-hover: hover) {
    &:hover {
      span {
        &::after {
          scale: 1;
          transform-origin: left center;
          transition: scale 0.5s ease;
        }
      }
    }
  }
}

.p-single-pagination__next > a > span {
  font-size: get_vw(15);
  font-weight: $font-weight-700;
  line-height: normal;
  padding-right: calc(21px / 375px * 100vw);
  position: relative;

  @include mq("md") {
    padding-right: 21px;
    font-size: rem(15);
  }

  &::before {
    content: "";
    width: calc(5px / 375px * 100vw);
    height: calc(10px / 375px * 100vw);
    background: url(../img/single/blog-icon-next.svg) no-repeat center center /
      contain;
    position: absolute;
    right: 0;
    top: 50%;
    translate: 0 -50%;

    @include mq("md") {
      width: 5px;
      height: 10px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 66%;
    height: 1px;
    background-color: map-get($map: $color, $key: text);
    bottom: -2px;
    left: 0;
    scale: 0;
    transition: scale 0.1s ease;
    transform-origin: right center;
  }
}
