@use "../global/" as *;

.l-main {
    
}

.l-inner {
    padding-inline: get_vw(22);

    @include mq('md') {
        margin-inline: auto;
        max-width: 1440px;
        padding-inline: rem(50);
    }
}