@use "../global/variables";
@use "../global/mixin";

.c-section-heading {
 
}

.c-section-heading__en {
  font-size: ;
  font-family: ;
  font-weight: ;
}

.c-section-heading__ja {
  font-size: ;
  font-weight: ;
}
