@use "../global/" as *;

.intro-overlay {
  display: none;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 9999;
  // width: 100vw;
  // height: 100dvh;
  // background-image: url(../img/top/top-bg-fv-sp.webp);
  // background-size: cover;
  // transform: scale(1.2);
  // opacity: 1;
  // animation: gradientFade 3s ease-out forwards;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;

  // @include mq('md') {
  //   background: url(../img/top/top-bg-fv-pc.webp) no-repeat 80% 80% / cover;
  // }
  // @include mq('lg') {
  //   background: url(../img/top/top-bg-fv-pc.webp) no-repeat 80% 80% / 135%;
  // }

  // @keyframes gradientFade {
  //   0% { transform: scale(1.2); opacity: 1; }
  //   70% { transform: scale(1.0); opacity: 1; }
  //   // to { transform: scale(1.0); opacity: 0; }
  // }
  
  // p {
  //   font-size: get_vw(32);
  //   font-weight: 700;
  //   text-align: center;

  //   @include mq('md') {
  //     font-size: min(get_vw(56,1440),56px);
  //     line-height: 1.1;
  //     letter-spacing: 2.8px;
  //   }

  //   span {
  //     font-size: get_vw(54);
  //     font-weight: 500;
  //     position: relative;
  //     margin-inline: get_vw(12);

  //     @include mq('md') {
  //       font-size: min(get_vw(96,1440),96px);
  //       line-height: 1.8;
  //       margin-inline: rem(12) rem(23);
  //       letter-spacing: -8px;
  //     }

  //     &::before {
  //       content: "“";
  //       position: absolute;
  //       font-size: get_vw(50.541);
  //       font-weight: 700;
  //       line-height: 1.8;
  //       top: get_vw(-20);
  //       left: get_vw(-27);

  //       @include mq('md') {
  //         font-size: min(get_vw(80,1440),80px);
  //         letter-spacing: 4px;
  //         top: max(get_vw(-31,1440),-31px);
  //         left: max(get_vw(-37,1440),-37px);
  //       }
  //     }

  //     &::after {
  //       content: "”";
  //       position: absolute;
  //       font-size: get_vw(50.541);
  //       font-weight: 700;
  //       line-height: 1.8;
  //       top: get_vw(-20);
  //       right: get_vw(-22);

  //       @include mq('md') {
  //         font-size: min(get_vw(80,1440),80px);
  //         letter-spacing: 4px;
  //         top: max(get_vw(-31,1440),-31px);
  //         right: max(get_vw(-42,1440),-42px);
  //       }
  //     }
  //   }
  // }
  // img {
  //   max-width: 893px;
  // }
}

.p-top {
  .animation {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s;

    &.animated {
      transform: translate(0);
      opacity: 1;

      &.swiper-button-disabled {
        opacity: 0.35;
      }
    }

    @include mq('md') {
      &.fade {
        // その場で出現
        transform: none;
      }
      &.slideleft {
        // 左に向かって出現
        transform: translateX(100%);

        &.animated {
          transform: translate(0);
        }
      }
      &.slideright {
        // 右に向かって出現
        transform: translateX(-100%);

        &.animated {
          transform: translate(0);
        }
      }
    }
  }

  &__button {
    display: inline-block;
    font-size: get_vw(20);
    font-weight: 500;
    line-height: calc(37 / 20);
    background: map-get($color, 'base');
    margin-inline-start: get_vw(30);
    padding-inline-end: get_vw(17);
    position: relative;
    transition: all 0.3s;

    @media (any-hover: hover) {
      &:hover {
        text-shadow: 0 0 10px map-get($color, 'main');
        &::after {
          right: get_vw(-5);
        }
      }
    }

    @include mq('md') {
      font-size: rem(20);
      margin-inline-start: rem(30);
      padding-inline-end: rem(17);

      @media (any-hover: hover) {
        &:hover {
          &::after {
            right: rem(-5);
          }
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: get_vw(89);
      height: get_vw(89);
      border-radius: 50%;
      border: 1.462px solid #332C2F;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      left: get_vw(-30);
      transition: all 0.3s;

      @include mq('md') {
        width: rem(89);
        height: rem(89);
        left: rem(-30);
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: get_vw(8);
      height: get_vw(12);
      background: url(../img/top/top-icon-arrow.webp) no-repeat center center / contain;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      transition: right 0.3s;

      @include mq('md') {
        width: rem(8);
        height: rem(12);
      }
    }

  }

  &__fv {
    background: url(../img/top/top-bg-fv-sp.webp) no-repeat center center / cover;

    @include mq('md') {
      background: url(../img/top/top-bg-fv-pc.webp) no-repeat 80% 80% / cover;
    }
    @include mq('lg') {
      background: url(../img/top/top-bg-fv-pc.webp) no-repeat 80% 80% / 135%;
    }

    .p-top-fv {
      &__wrap {
        padding-block-start: get_vw(123);

        @include mq('md') {
          padding-block-start: 0;
          position: relative;
          max-width: 1440px;
          margin-inline: auto;
        }
      }
      
      &__message {
        text-align: center;

        @include mq('md') {
          position: absolute;
          top: min(get_vw(256,1440),256px);
          left: min(get_vw(119,1440),119px);
        }
        p {
          &:first-child {
            font-size: get_vw(32);
            font-weight: 700;

            @include mq('md') {
              font-size: min(get_vw(56,1440),56px);
              line-height: 1.1;
              letter-spacing: 2.8px;
            }
    
            span {
              font-size: get_vw(54);
              font-weight: 500;
              position: relative;
              margin-inline: get_vw(12);

              @include mq('md') {
                font-size: min(get_vw(96,1440),96px);
                line-height: 1.8;
                margin-inline: rem(12) rem(23);
                letter-spacing: -8px;
              }
    
              &::before {
                content: "“";
                position: absolute;
                font-size: get_vw(50.541);
                font-weight: 700;
                line-height: 1.8;
                top: get_vw(-20);
                left: get_vw(-27);

                @include mq('md') {
                  font-size: min(get_vw(80,1440),80px);
                  letter-spacing: 4px;
                  top: max(get_vw(-31,1440),-31px);
                  left: max(get_vw(-37,1440),-37px);
                }
              }
    
              &::after {
                content: "”";
                position: absolute;
                font-size: get_vw(50.541);
                font-weight: 700;
                line-height: 1.8;
                top: get_vw(-20);
                right: get_vw(-22);

                @include mq('md') {
                  font-size: min(get_vw(80,1440),80px);
                  letter-spacing: 4px;
                  top: max(get_vw(-31,1440),-31px);
                  right: max(get_vw(-42,1440),-42px);
                }
              }
            }
          }

          &:last-child {
            font-size: get_vw(15.162);
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.758px;
            margin-block-start: get_vw(15.5);

            @include mq('md') {
              font-size: rem(24);
              letter-spacing: 1.2px;
              margin-block-start: rem(26);
            }

            span {
              margin-inline-end: get_vw(5);

              @include mq('md') {
                margin-inline-end: rem(7);
              }
            }
          }
        }
      }
      
      &__image {
        margin-block-start: get_vw(-4);

        @include mq('md') {
          margin-block-start: 0;
          margin-inline-start: auto;
          padding-block-start: rem(54);
          max-width: 893px;
          width: calc(893 / 1440 * 100%);
        }
      }

      &__scroll {
        font-family: "Sawarabi Gothic";
        font-size: get_vw(12);
        line-height: normal;
        letter-spacing: 1.2px;
        text-align: center;
        margin-block: get_vw(2) get_vw(3);
        
        p {
          margin-block: auto;
          writing-mode: vertical-lr;
          display: inline-block;
        }

        svg {
          vertical-align: get_vw(-3);
          margin-inline-start: get_vw(2);
          width: get_vw(7);
          height: get_vw(31);
        }
      }
      
      &__text {
        background: rgba(245, 245, 245, 0.78);
        padding: get_vw(40) get_vw(34) get_vw(40) get_vw(39);

        @include mq('md') {
          padding: rem(105) rem(40) rem(88);
          margin-block-start: rem(-29);
        }

        p {
          font-size: get_vw(15);
          font-weight: 500;
          line-height: 1.6;

          @include mq('md') {
            max-width: 730px;
            margin-inline: auto;
            font-size: rem(20);
            line-height: 2;
          }
        }
      }
    }
  }

  
  &__about {
     

    .p-top-about {
      &__inner {
        padding-block: get_vw(40) get_vw(64);
        position: relative;

        @include mq('md') {
          padding-block: rem(80);
          max-width: 1251px;
        }

        &::before {
          content: "";
          position: absolute;
          width: get_vw(356);
          height: auto;
          aspect-ratio: 1 / 1;
          background: url(../img/top/bg-dec-pink.webp) no-repeat center center / contain;
          top: get_vw(197);
          right: get_vw(-183);
          z-index: -2;
    
          @include mq('md') {
            width: 589px;
            top: 380px;
            right: -260px;
          }

          @include mq('lg') {
            top: -185px;
            right: -262px;
          }
        }
    
        &::after {
          content: "";
          position: absolute;
          width: get_vw(471);
          height: auto;
          aspect-ratio: 1 / 1;
          background: url(../img/top/bg-dec-purple.webp) no-repeat center center / contain;
          top: get_vw(882);
          left: get_vw(-132);
          z-index: -2;
    
          @include mq('md') {
            width: get_vw(700, 900);
            top: clamp_vw(1080,1180,768,900);
            left: -150px;
          }
          @include mq('lg') {
            width: 620px;
            top: 621px;
            left: -205px;
          }
        }
      }

      &__title {
        @include mq('lg') {
          display: flex;
          align-items: center;
          gap: rem(20);
        }
        
        .title-en {
          font-family: $font-family-en;
          display: block;
          font-size: get_vw(40);
          font-weight: 600;

          @include mq('md') {
            font-size: min(get_vw(60,1100),60px);
            font-weight: 700;
          }
        }
        
        .title-ja {
          font-size: get_vw(20);
          font-weight: 500;

          @include mq('md') {
            font-size: rem(24);
            font-weight: 700;
          }
        }
      }
      
      &__wrap {
        @include mq('lg') {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          gap: rem(24);
        }
      }
      
      &__image {
        margin-block-start: get_vw(14);
        
        @include mq('lg') {
          margin-block-start: rem(16);
          width: 529px;
        }
      }
      
      &__text {
        @include mq('lg') {
          width: calc(574 / 1150 * 100%);
        }
        
        .head {
          font-size: get_vw(24);
          font-weight: 500;
          line-height: 1.8;
          margin-block-start: get_vw(20);
          display: flex;
          flex-wrap: wrap;

          @include mq('md') {
            font-size: rem(32);
            line-height: 1.5;
            margin-block-start: rem(20);
          }
        }
        
        .text {
          font-size: get_vw(16);
          line-height: 2;
          margin-block-start: get_vw(20);

          @include mq('md') {
            font-size: rem(15);
            line-height: 1.6;
            margin-block-start: rem(20);
          }
        }

        .button {
          margin-block-start: get_vw(47);

          @include mq('md') {
            margin-block: rem(45) rem(25);
          }
        }
      }
    }

    .p-top-environment {
      &__inner {
        padding-block: get_vw(61) get_vw(58);

        @include mq('md') {
          padding-block: 0 rem(80);
          max-width: 1263px;
        }

        @include mq('lg') {
          padding-block: rem(80);
        }
      }

      &__title {
        text-align: right;

        @include mq('lg') {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          gap: rem(20);
        }
        
        .title-en {
          font-family: $font-family-en;
          display: block;
          font-size: get_vw(40);
          font-weight: 600;

          @include mq('md') {
            font-size: min(get_vw(60,1100),60px);
            font-weight: 700;
          }
        }
        
        .title-ja {
          font-size: get_vw(24);
          font-weight: 500;
          display: inline-block;
          margin-block-start: get_vw(4);

          @include mq('md') {
            font-size: rem(24);
            line-height: 1.8;
            margin-block-start: 0;
          }
        }
      }
      
      &__wrap {
        @include mq('lg') {
          display: flex;
          flex-direction: row-reverse;
          align-items: flex-end;
          justify-content: space-between;
          gap: rem(24);
        }
      }
      
      &__image {
        margin-block-start: get_vw(22);

        @include mq('lg') {
          margin-block-start: rem(20);
          width: 541px;
        }
      }
      
      &__text {
        @include mq('lg') {
          width: calc(574 / 1163 * 100%);
        }
      
        .head {
          font-size: get_vw(24);
          font-weight: 500;
          line-height: 1.8;
          margin-block-start: get_vw(40);
          display: flex;
          flex-wrap: wrap;

          @include mq('md') {
            font-size: rem(32);
            line-height: 1.5;
            margin-block-start: rem(20);
          }
        }
        
        .text {
          font-size: get_vw(16);
          line-height: 2;
          margin-block-start: get_vw(20);

          @include mq('md') {
            font-size: rem(15);
            line-height: 1.6;
            margin-block-start: rem(20);
          }
        }

        .button {
          margin-block-start: get_vw(45);

          @include mq('md') {
            margin-block: rem(45) rem(25);
          }
        }
      }
    }
  }
  
  &__job {
    .p-top-job {
      &__inner {
        border-top: 1px solid var(--foundation-purple-light-active, #E0C8E9);
        border-bottom: 1px solid var(--foundation-purple-light-active, #E0C8E9);
        padding-block: get_vw(40);

        @include mq('md') {
          padding-block: rem(80);
        }
      }
      
      &__title {
        text-align: center;
        margin-block-end: get_vw(30);

        @include mq('md') {
          margin-block-end: rem(30);
        }
        
        .title-en {
          font-family: $font-family-en;
          font-size: get_vw(40);
          font-weight: 600;
          display: block;

          @include mq('md') {
            font-size: rem(60);
            font-weight: 700;
          }
        }
        
        .title-ja {
          font-size: get_vw(20);
          font-weight: 500;

          @include mq('md') {
            font-size: rem(24);
            line-height: 1.8;
          }
        }
      }
      
      &__items {
      
      }
      
      &__item {
        padding:get_vw(30) get_vw(27.5);
        &:first-child {
          background: #E0C8E9;
        }
        &:nth-child(2) {
          background: map-get($color, 'base');

          .job-item__detail {
            border: map-get($color, 'text') 1px solid;
          }
        }
        &:last-child {
          background: #FCBFD1;
        }

        @include mq('lg') {
          padding: 0;
          box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.25);
          display: flex;
          align-items: center;
          height: 360px;
          position: relative;
          z-index: 1;
          border-radius: 0px 30px 0px 0px;

          &:first-child {
            .job-item__detail {
              margin-block-end: 32px;
            }
            .interview-link {
              color: map-get($color, 'text');
              bottom: rem(97);
              svg {
                path {
                  stroke: map-get($color, 'text');
                }
              }
            }
          }
          &:nth-child(2) {
            .job-item__detail {
              border: none;
              margin-block-end: 32px;
            }
            .interview-link {
              color: map-get($color, 'text');
              bottom: rem(97);
              svg {
                path {
                  stroke: map-get($color, 'text');
                }
              }
            }
          }
          &:last-child {
            height: 344px;
          }
          &:nth-child(n + 2) {
            margin-block-start: rem(-30);
          }
        }
      
        .job-item__detail {
          background: map-get($color, 'base');
          border-radius: get_vw(20);
          padding: get_vw(20) get_vw(30);
          margin-block-end: get_vw(12);

          @include mq('lg') {
            padding: 0;
            width: 50%;
            background: none;
            padding-inline-start: clamp_vw(20,216,900,1440);
            margin-block-end: 0;
          }
          @include mq('xxl') {
            padding-inline-start: calc(50vw - (720px - 216px));
          }
        
          .title {
            font-size: get_vw(24);
            font-family: $font-family-en;
            font-weight: 700;
            line-height: 1.5;
            margin-block-end: get_vw(8);

            @include mq('md') {
              font-size: rem(40);
              margin-block-end: rem(20);
            }
          }
          
          .message {
            font-size: get_vw(15);
            line-height: 1.6;
            margin-block-end: get_vw(3);

            @include mq('md') {
              font-size: rem(20);
              margin-block-end: rem(20);
            }
          }
          
          .entry-link {
            font-size: get_vw(15);
            line-height: normal;
            display: inline-block;

            svg {
              display: block;
              width: get_vw(134);
              transition: width 0.3s;
            }

            @media (any-hover: hover) {
              &:hover {
                svg {
                  width: get_vw(150);
                }
              }
            }
            @include mq('md') {
              font-size: rem(13);
              svg {
                width: rem(134);
              }

              @media (any-hover: hover) {
                &:hover {
                  svg {
                    width: 150px;
                  }
                }
              }
            }
          }
        }
        
        
        .job-item__img {
          aspect-ratio: 320 / 168;
          width: 100%;
          height: auto;
          position: relative;

          @include mq('lg') {
            width: 50%;
            height: 100%;
            aspect-ratio: auto;
            clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
          }

          a {
            display: inline-block;
            width: 100%;
            height: 100%;

            @media (any-hover: hover) {
              &:hover {
                svg {
                  width: get_vw(180);
                }
              }
            }

            @include mq('md') {
              @media (any-hover: hover) {
                &:hover {
                  svg {
                    width: 250px;
                  }
                }
              }
            }
          }

          img {
            object-fit: cover;
            object-position: 100% 20%;
            border-radius: get_vw(20);
            height: 100%;

            @include mq('lg') {
              border-radius: 0px 30px 0px 0px;
            }
          }
          
          .interview-link {
            position: absolute;
            bottom: get_vw(20);
            left: get_vw(141.5);
            color: map-get($color, 'base');
            font-size: get_vw(15);
            font-weight: 700;
            line-height: normal;
            filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.89));

            svg {
              display: block;
              width: get_vw(160);
              transition: width 0.3s;
            }

            @include mq('md') {
              font-size: rem(20);
              left: 60%;
              bottom: rem(59);
              svg {
                width: rem(222);
              }
            }
            @include mq('lg') {
              left: clamp_vw(150,428,900,1440);
            }
          }
        }
      }
    }
  }
  
  &__faq {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: url(../img/top/top-bg-faq-sp.webp) no-repeat top center / cover;
      z-index: -2;
    }

    @include mq('md') {
      &::before {
        background: url(../img/top/top-bg-faq-pc.webp) no-repeat top center / cover;
      }
    }

    .p-top-faq {
      &__inner {
        padding-block: get_vw(40) get_vw(102);

        @include mq('md') {
          padding-block: rem(80) rem(100);
        }
      }

      &__title {
        text-align: center;
        margin-block-end: get_vw(30);

        @include mq('md') {
          margin-block-end: rem(30);
        }
        
        .title-en {
          font-family: $font-family-en;
          font-size: get_vw(40);
          font-weight: 600;
          display: block;

          @include mq('md') {
            font-size: rem(60);
            font-weight: 700;
          }
        }
        
        .title-ja {
          font-size: get_vw(20);
          font-weight: 500;

          @include mq('md') {
            font-size: rem(24);
            line-height: 1.8;
          }
        }
      }

      &__items {
        @include mq('md') {
          max-width: 1000px;
          margin-inline: auto;
        }
      }

      &__item {
        margin-block-end: get_vw(30);

        @include mq('md') {
          margin-block-end: rem(30);
        }
      }
  
      &__button {
        text-align: center;
        padding-block-start: get_vw(26);
        a {
          margin-inline-start: 0;
        }

        @include mq('md') {
          padding-block-start: rem(24);
          a {
            margin-inline-start: 0;
          }
        }
      }
    }
  }
  
  &__blog {
    border-top: 1px solid var(--foundation-purple-light-active, #E0C8E9);
    overflow: hidden;

    .p-top-blog {
      &__inner {
        padding-block-start: get_vw(40);

        @include mq('md') {
          padding-block: rem(79) rem(62);
          position: relative;
        }
      }

      &__title {
        text-align: center;
        margin-block-end: get_vw(20);

        @include mq('md') {
          margin-block-end: rem(18);
        }
        
        .title-en {
          font-family: $font-family-en;
          font-size: get_vw(40);
          font-weight: 600;
          display: block;

          @include mq('md') {
            font-size: rem(60);
            font-weight: 700;
          }
        }
        
        .title-ja {
          font-size: get_vw(20);
          font-weight: 500;

          @include mq('md') {
            font-size: rem(24);
            line-height: 1.8;
          }
        }
      }

      &__card-wrap {
        position: relative;
        background: map-get($color, 'main');
        border-radius: 20px 0px 0px 20px;
        padding: get_vw(53.5) get_vw(21.5) get_vw(30.5) get_vw(23.5);

        &::before {
          content: "";
          position: absolute;
          width: get_vw(217);
          height: auto;
          aspect-ratio: 1 / 1;
          background: url(../img/top/bg-dec-pink.webp) no-repeat center center / contain;
          top: get_vw(-134);
          left: get_vw(-70);
          z-index: -2;
        }

        &::after {
          content: "";
          position: absolute;
          width: get_vw(116);
          height: auto;
          aspect-ratio: 1 / 1;
          background: url(../img/top/bg-dec-purple.webp) no-repeat center center / contain;
          top: get_vw(270);
          right: get_vw(-16);
          z-index: -2;
        }

        .swiper-button-prev {
          left: 0;
        }
        .swiper-button-next {
          right: 0;
        }

        @include mq('md') {
          padding: rem(85) 0 rem(51) rem(52);
          margin-inline-start: rem(50);

          &::before {
            width: clamp_vw(380,427,768,1440);
            top: -311px;
            left: -121px;
          }
          &::after {
            width: rem(227);
            top: rem(-174);
            right: auto;
            left: min(get_vw(686,1440),686px);
          }

          .swiper-button-prev {
            left: clamp_vw(521,914,768,1440);
          }
          .swiper-button-next {
            left: clamp_vw(596,988,768,1440);
          }
        }

        @include mq('xxl') {
          margin-inline-start: calc(50vw - 670px);
        }

        .swiper-button-prev,
        .swiper-button-next {
          width: get_vw(42);
          transition: opacity 0.3s;
          svg {
            width: get_vw(42);
            height: get_vw(42);
          }

          @media (any-hover: hover) {
            &:hover {
              opacity: 0.7;
            }
          }

          &::after {
            content: none;
          }

          @include mq('md') {
            width: 55px;
            top: -63px;

            svg {
              width: 55px;
              height: 55px;
            }
          }
        }

      }

      &__swiper {
        @include mq('md') {
          padding-inline-end: rem(50);
        }
        @include mq('xxl') {
          padding-inline-end: calc(50vw - 670px);
        }

      }

      &__slide {

        a {
          @media (any-hover: hover) {
            &:hover {
              .article-img {
                img {
                  scale: 1.2;
                }
              }
            }
          }
        }
        
        .article-img {
          overflow: hidden;
          border-radius: get_vw(17.52);

          @include mq('md') {
            border-radius: 20px;
          }

          img {
            border-radius: get_vw(17.52);
            aspect-ratio: 380 / 200;
            object-fit: cover;
            transition: scale 0.5s;

            @include mq('md') {
              border-radius: 20px;
            }
          }
        }
        
        .article-date {
          font-family: $font-family-en;
          font-size: get_vw(13.14);
          font-weight: 500;
          line-height: normal;
          margin-block-start: get_vw(3.5);

          @include mq('md') {
            font-size: rem(15);
            margin-block-start: rem(4);
          }
        }
        
        .article-head {
          font-size: get_vw(13.14);
          line-height: normal;
          font-weight: 500;
          margin-block-start: get_vw(3.5);

          @include mq('md') {
            font-size: rem(15);
            font-weight: 400;
            line-height: 1.6;
            margin-block-start: rem(4);
          }
        }

        @include mq('md') {
          width: 380px;
        }
      }

      &__button {
        text-align: center;
        padding-block: get_vw(27) get_vw(26);

        a {
          margin-inline-start: 0;
          &::before {
            content: none;
          }
        }

        @include mq('md') {
          padding-block: rem(30);
        }
        @include mq('xl') {
          position: absolute;
          top: 120px;
          right: calc(50% - clamp_vw(540,574,1200,1440));
        }
      }
    }
  }
}