@use "../global" as *;

.p-about-CEO-message {
  margin-top: 15px;
  position: relative;

  &::before {
    content: "";
    width: 100vw;
    height: calc(912px / 1029px * 100%);
    background-color: map-get($color, sub1);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: calc(-22px / 375px * 100vw);
    z-index: -1;
  }
}

.p-about-CEO-message__top {
  position: relative;

  &::before {
    content: "";
    width: calc(321px / 375px * 100vw);
    height: 100%;
    background-color: #eae9e9;
    border-radius: 0 20px 20px 0;
    position: absolute;
    right: calc(54px / 375px * 100vw);
    z-index: -1;
  }
}

.p-about-CEO-message__head {
  display: flex;
  flex-direction: column;
  padding-top: calc(33.5px / 375px * 100vw);
}

.p-about-CEO-message__head-en {
  font-family: $font-family-en;
  font-size: get_vw(40);
  font-weight: $font-weight-600;
}

.p-about-CEO-message__head-ja {
  font-size: get_vw(20);
  font-weight: $font-weight-500;
}

.p-about-CEO-message__image {
  width: calc(100% - 1px);
  padding-bottom: calc(19px / 375px * 100vw);
  img {
    width: 100%;
    height: auto;
  }
}

.p-about-CEO-message__bottom {
  margin-top: 11px;
  padding-bottom: calc(62px / 375px * 100vw);
}

.p-about-CEO-message__text-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.p-about-CEO-message__text {
  font-size: get_vw(15);
  line-height: calc(26px / 15px);
}
